.clearfix:after {clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
.clearfix {display:block;}

body {background-color: #efefef;font-family:"lucida grande",tahoma,sans-serif;line-height: 1.5em;font-size:13px;color: #000000;}
a:hover{text-decoration:underline;color: #3B5998;}
a{cursor:pointer;color:#3B5998;text-decoration:none;outline-style:none;}
a.FB_Link{cursor:pointer;color:#3B5998;text-decoration:none;outline-style:none;}
a:hover.FB_Link{text-decoration:underline;color: #3B5998;}

#content {width:780px;margin:1em auto;padding:10px;background:#efefef;font-family:"lucida grande",tahoma,sans-serif;line-height: 1.5em;font-size:13px;color: #000000;}
#header {}

#round_top,.ie #round_top{background:#fff!important;}
#round_top{position:relative;background:#59b;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-top-left-radius:10px;border-top-right-radius:10px;}
.ie #round_top{background:transparent url("http://s.twimg.com/a/1259704211/images/clouds-ie.gif") no-repeat 0 0!important;}

#round_bottom{position:relative;background:#023;overflow:hidden;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
#round_bottom div{overflow:hidden;width:705px;padding-left:25px;height:1.9em;}
.ie6 #round_bottom div li{margin:.5em 0;}
.ie6 #round_bottom div,.ie7 #round_bottom div{background-position:0 .5em;}

#round_bottom .fade{background:transparent url(http://s.twimg.com/a/1259704211/images/red/fade-trends.png) repeat-y scroll -60px 0;}
#round_bottom,.ie #round_bottom{background:#fff;padding-top:10px;}


#logo img{float:left;}
#top_links{float:right;background-color:#efefef;white-space:nowrap;display:inline-block;padding:0 .7em;}
.top-navigation *{display:inline;}
.ul {list-style-image:none;list-style-position:outside;list-style-type:none;}

#new_playlist {width:760px;margin-top:0px;margin-bottom:0px;border:0px;border-style:solid;border-width:0px;padding:20px;}
#new_playlist #input_border{
	width:340px;
	border-color:#AEAEAE #BBBBBB #BBBBBB;
	border-style:solid;
	border-width:1px;
	float: left;
	margin-left: 200px;
}
#new_playlist #input_shaddow {	
	border-top:1px solid #E8E8E8;
	padding:2px 5px 3px;
}
#new_playlist #input {
	width:275px;
	background-color:#ffffff;
	border:medium none;
	cursor:text;
	font-size:14px;
	margin:0;
	max-height:200px;
	min-height:20px;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	overflow-x:hidden;
	overflow-y:auto;
	padding:0;
}
#new_playlist input{
	font-family:arial,sans-serif;
	font-size:16px;
	height:1.85em;
	float: left; 
	margin-left: 5px;
}

#headline {font-weight:bold;font-size:17px;color:#333333;margin-top:20px;padding:10px;}


#my_playlists{border:0px;border-style:solid;border-width:0px;margin-top:0px;margin-bottom:0px;padding:20px;}
.playlist{color:#0066cc;}
.playlist img {float: left; margin-top: 2px;}
.playlist a {overflow: hidden; float: left; width: 250px; margin-left: 5px;}

#friends_list {margin-top:0px;margin-bottom:0px;padding:20px;}
.friend_column {float: left; width: 350px;margin-right:10px;}
.friend {width:350px;margin-bottom:15px;border-top:1px solid #EEEEEE;}
.friend_pic {float:left;}
.friend_details {float: left;width:275px;margin-left:10px;}
.friend_name {font-weight:bold;font-size:14px;}

