



/* Content & General CSS */	

body {
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif,default;
	font-size:80%;
	background:#FFFFFF;
	line-height: 1.5em;
	}

h2 	{
	font-family:"Helvetica Neue",Helvetica,Arial,default;
	color:#444444;
	font-size:18px;
	font-weight:bold;
	margin-bottom:6px;
	}

a	{
	color:#0066CC;
	text-decoration:none;cursor:pointer;
	}
a:hover	{
	color:#0066CC;
	text-decoration:underline;
	}
	
img	{
	border:0;
	}


a.FB_Link	{
	color:#0066CC;
	cursor:pointer;
	text-decoration:none;
	outline-style:none;
	}
	
a:hover.FB_Link	{
	color:#0066CC;
	text-decoration:underline;
	}

#content {
	width:964px;
	margin:1em auto;
	border:0px;
	border-color:#0066CC;
	border-style:solid;
	}
	
.wrapper {
	width:100%;
	float:left;
	border:0px;
	border-color:#000000;
	border-style:solid;
	display:block;
	margin-bottom:2px; 
		}	
	
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
	}
	
.clearfix {
	display:block;
	}


/* = = = = Sign In = = = = */	

.signin {
	width:500px;	
	}


/* = = = = Buttons = = = = */	

.button {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background:#E0E0E0 url(/images/button_background.gif) repeat-x scroll left top;
	border-color:#BBBBBB #BBBBBB #999999;
	border-style:solid;
	border-width:1px;
	color:#444444;
	cursor:pointer;
	display:inline-block;
	font-size:0.9em;
	font-weight:bold;
	padding:3px 10px;
	text-align:center;
	text-shadow:0 1px #F0F0F0;
	}

.button:hover, .button:active {
	border-bottom:1px solid #6B8545;
	border-color:#8DA766 #8DA766 #6B8545;
	text-decoration:none;
	}

.user a 	{
	color:#6699CC;
	}




/* = = = = Header & Top Navigation = = = = */	

#header {
	border:0px;
	border-color:#0066CC;
	border-style:solid;
	padding:2px;
	}	

#logo img {
	float:left;
	text-decoration:none;
	border:0px;
	}

#top-navigation {
	float:right;
	white-space:nowrap;
	}

#top-navigation ul li {
	text-align:right;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	display:inline;
	}

#top-navigation li a {
	color:#0066CC;
	display:inline;
	font-weight:bold	;
	}	

#top-navigation li a {
	padding:0.3em 0.4em 0.2em;
	}

#top-navigation li a:hover {
	color:#990000;
	text-decoration:none;
	}	



/* = = = = Add Playlist = = = = */	
	
#new_playlist {
	float:left;
	width:600px;
	margin-top:30px;
	margin-bottom:20px;
	margin-left:10px;
	padding:4px;
	}


/* = = = = Following = = = = */	

.following {
	float:left; 
	width:640px;
	border:0px;
	border-color:green;
	border-style:solid;
	}
	
#left_column {
	float:left; 
	width:310px;
	margin-right:8px;
	border:0px;
	border-color:yellow;
	border-style:solid;
	}
	
#right_column {
	float:left; 
	width:310px;
	margin-right:8px;
	border:0px;
	border-color:orange;
	border-style:solid;
	}	

.friend_column {
	float:left; 
	width:300px;
	}

.friend {
	border-top:1px solid #E0E0E0;
	width:300px;
	margin-bottom:15px; 
	margin-right:4px;
	}

.friend_pic {
	float:left; 
	padding:2px; 
	position:relative; 
	vertical-align:middle;
	}

.friend_details {
	float:left;
	width:240px;
	margin-left:4px;
	font-size:12px;
	}

.friend_name {
	font-weight:bold;
	font-size:13px;
	}

.playlists {
	float:left;
	font-size:10px;
	}

/* = = = = Shows = = = = */		

.shows	{
	float:right;
	width:300px;
	border:0px;
	border-color:red;
	border-style:solid;
	font-family:Helvetica,Arial,default;
	}


		

/* = = = = Suggestions = = = = */	
	
.suggestions {
	float:right;
	width:300px;
	border:0px;
	border-color:red;
	border-style:solid;		
	}


ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	}

.list_item, .linked_list_item {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF none repeat scroll 0 0;
	border-top:1px solid #E0E0E0;
	overflow:hidden;
	padding:5px 0;
	}	

.suggestions .topic_name {
	font-weight:bold;
	}	

.suggestions .topic_follow_button {
	float:right;
	}



/* = = = = Footer = = = = */		

#footer {
	text-align:center;
	clear:both;
	}

ul {
	display:inline;
	list-style-image:none;
	list-style-type:none;
	}



/* = = = = Footer = = = = */		

#footer li {
	display:inline;
	padding:0 12px;	
	}


/* Unsorted styles  */		



#my_playlists{border:0px;border-style:solid;border-width:0px;margin-top:0px;margin-bottom:0px;padding:20px;}

.playlist{color:#0066cc; width: 300px;}

.playlist img {float: left; margin-top: 2px;}

.playlist span {
	float: left; 
	overflow: hidden; 
	margin-left: 5px;
	}

.playlist a {
	overflow: hidden; 
	float: left; 
	margin-left: 5px;
	}
.playlist .delete_link {float: right;}


.portrait {
	width: 57px;
	display:block;
	float:left;
	overflow:hidden;
	padding-right:6px;
	position:relative;
}
.portrait .user_pic, .portrait .user_name {
	display:block;
	float:left;
}
.portrait_name {
	width: 57px;
	float:left;
}

.tracklisting {
	padding:20px;
	}
	
.track {
	color:#000000;
	font-size:11px;
	}