.clearfix:after {
clear:both;
content:".";
display:block;
font-size:0;
height:0;
line-height:0;
visibility:hidden;
text-align: left;
}
.clearfix {
display:block;
}

body {background-color: #fff;font-family:"lucida grande",tahoma,sans-serif;font-size:13px;color: #000000;}
a:hover{text-decoration:underline;color: #000000;}
a{cursor:pointer;color:#3b5998;text-decoration:none;}

#content {width:760px;margin:1em auto;padding:10px;background:#ffffff;}
#header {}
#logo img{float:left;}
#top_links{float:right;background-color:#fff;white-space:nowrap;display:inline-block;padding:0 .7em;}


#new_playlist{border:1px;border-style:solid;border-width:1px;margin:10px;padding:10px;}


#my_playlists{border:1px;border-style:solid;border-width:1px;margin:10px;padding:10px;}
.playlist{color:#0000ff;text-decoration:none;}
.playlist img {float: left; margin-top: 2px;}
.playlist a {overflow: hidden; float: left; width: 250px; margin-left: 5px;}


#friends_list {margin-top:10px;}
.friend {width:350px;float:left;margin-bottom:20px;}
.friend_pic {float:left;}
.friend_details {float: left;width:275px;margin-left:10px;}
.friend_name {font-weight:bold;font-size:16px;}
