
<!-- Header & Top Navigation -->			
	<%= render :partial => "navigation/header" %>	



<div id="content">
	

	<div class="main-top wrapper">
	
		<br />
		<div id="user">
			<%= render :partial => "/users/friend.html.erb", :locals => {:friend => @profile_user}%>
		</div>
	
	</div>
    
	<div class="main wrapper">
			
	</div>		

<!-- Footer & Bottom Navigation -->		
	<%= render :partial => "navigation/footer" %>	

</div>
