<div class="playlist">
	<img src="images/spotifyclick.png" height="14" width="14"/>
	<%= link_to playlist.url_spotify %>
	<%= link_to("Delete", playlist_url(playlist), :confirm => "Are you sure you want to delete this playlist?", :method => :delete, :class => "delete_link") %>
</div>