<div class="playlist">
	<div><%= playlist.updated_at %>: <%= h playlist.url_spotify %></div>
	<%= link_to("Delete", playlist_url(playlist), :confirm => "Are you sure you want to delete this playlist?", :method => :delete) %>
	
</div>