<div class="playlist">
	<div><%= playlist.updated_at %>: <%= h playlist.url_spotify %></div>
	<div><%= link_to 'Delete', :controller  => 'home', :action  => 'delete', :id => playlist.id %></div>
</div>