<div class="playlist clearfix">
	<%= image_tag "spotifyclick.png" %>
        <%= link_to truncate(h(playlist_with_delete.to_s), :length => 35), playlist_path(playlist_with_delete) %>
	<%= link_to("Delete", playlist_url(playlist_with_delete), :confirm => "Are you sure you want to delete this playlist?", :method => :delete, :class => "delete_link") if playlist_with_delete.user == @user %>
</div>
