
<!-- Header & Top Navigation -->			
	<%= render :partial => "navigation/header" %>	

	<div id="content">
		<div class="main wrapper">
			About Us
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
						
<!-- Footer & Bottom Navigation -->		
	<%= render :partial => "navigation/footer" %>	
	
