
<!-- Header & Top Navigation -->			
	<%= render :partial => "navigation/header" %>	

	<div id="content">
		<div class="main wrapper">
			Contact us at <a href="mailto:gustaf@gmail.com">gustaf@gmail.com</a>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />	
		</div>

<!-- Footer & Bottom Navigation -->		
	<%= render :partial => "navigation/footer" %>	
	
