<div id="content">
	<p>Hey, Heartbeats is a new way to share your Spotify music with you friends. It's pre-alpha but if you've found your way here feel free to sign in with your Facebook account. <br/><br/></p>

<%= fb_login_and_redirect root_url, :length => :long %>
</div>

<script>
		mpmetrics.track('signin-page');
</script>