
	<div>
		<table class="track-list">
			<tbody>
				<tr>
					
					<td class="tracklist_incremental">
					</td>
					
					<td class="tracklist_name">
						<a class="tracks" href=""><%= truncate track.name %></a>
					</td>
					
					<td class="tracklist_artist">
						<a class="tracks" href=""><%= truncate track.artists.map{|a| a.name}.join ", " %></a>
					</td>

<!--					
					<td class="tracklist_popularity">
						<span class="temporary"><%= track.popularity %></span></a>
					</td>		
-->
				</tr>
		</table>
	</div>
