
	<div id="tracks">
		<li class="tracks">	
			<a href=""><%= truncate track.artists.map{|a| a.name}.join ", " %> -  <%= truncate track.name %> <%= truncate track.name %>  <span class="temporary"><%= track.popularity %></span></a> 
		</li>
	</div>
