
	<div class="tracks">
		<li>
			<a href="spotify:track:3Uy7EltO1lZNDnTJL94Vci"><%= track.artists.map{|a| a.name}.join ", " %> <%= track.name %></a> 
				<span style="color:#FFF"><%= track.popularity %></span>
		</li>
	</div>

