
<div class="footer wrapper">

	<div id="footer_left" class="footer">
	
		<ul>
			<li>
				© 2010 <a href="">Heartbeats</a>
			</li>
		</ul>
	</div>
	
	<div id="footer_right" class="footer">
	
		<ul>
			<li>
				About Us
			</li>
			<li>
				Help
			</li>
			<li>
				Blog
			</li>
			<li>
				<a href="mailto:gustaf@gmail.com?subject=Heartbeats">Contact</a>
			</li>
			<li>
				Terms
			</li>
			<li>
				Privacy
			</li>
		</ul>
	</div>
	
</div>
